.new-carousel
	.slide
		a(href="#")
			img(src="http://lorempixel.com/960/400/city/1", alt="")
	.slide
		a(href="#")
			img(src="http://lorempixel.com/960/400/city/2", alt="")
	.slide
		a(href="#")
			img(src="http://lorempixel.com/960/400/city/3", alt="")1100960